@import "../src/tailwind.css";   /* MUST BE FIRST */

/* Optional global styles */
html, body, #root {
  height: 100%;
}
body {
  @apply bg-gray-50 text-gray-800;
}
.container-max {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}
